nodered.json
[{"id":"99a3eb58.d94608","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"72ba4a66.190444","type":"inject","z":"99a3eb58.d94608","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["3448d13f.28d83e"]]},{"id":"3448d13f.28d83e","type":"watson-conversation-v1","z":"99a3eb58.d94608","name":"customer helper","workspaceid":"76f572fb-7c87-4de3-bb73-7d6c87207002","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8600a1b8-c13d-49ce-bcfd-684c444cf319","timeout":"","optout-learning":false,"x":400,"y":180,"wires":[["ccdb3185.c8bf7"]]},{"id":"8fa2efd4.c1b13","type":"debug","z":"99a3eb58.d94608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":240,"wires":[]},{"id":"ccdb3185.c8bf7","type":"function","z":"99a3eb58.d94608","name":"parsing function","func":"msg.payload.text = \"\";\nif(msg.payload.context.webhook_result_1){\n      for( var i in msg.payload.context.webhook_result_1.results){\n       msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload = msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["8fa2efd4.c1b13","e646fb9a.19ef08"]]},{"id":"f0ba9acd.7c8c98","type":"ui_form","z":"99a3eb58.d94608","name":"","label":"","group":"2bfc6a19.80fc86","order":1,"width":"11","height":"2","options":[{"label":"enter input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["913ffca4.a599a"]]},{"id":"913ffca4.a599a","type":"function","z":"99a3eb58.d94608","name":" input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["3448d13f.28d83e","71442848.e4a908"]]},{"id":"e646fb9a.19ef08","type":"ui_text","z":"99a3eb58.d94608","group":"2bfc6a19.80fc86","order":3,"width":"0","height":"0","name":"","label":"bot","format":"{{msg.payload}}","layout":"row-left","x":910,"y":160,"wires":[]},{"id":"71442848.e4a908","type":"ui_text","z":"99a3eb58.d94608","group":"2bfc6a19.80fc86","order":2,"width":"7","height":"1","name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":830,"y":520,"wires":[]},{"id":"2bfc6a19.80fc86","type":"ui_group","z":"","name":"chat bot","tab":"31a48f21.8b817","order":1,"disp":true,"width":"11","collapse":false},{"id":"31a48f21.8b817","type":"ui_tab","z":"","name":"customer help desk","icon":"dashboard","disabled":false,"hidden":false}]